@font-face {
	font-family: "Roboto";
	src: url("fonts/Roboto-Bold.eot");
	src: url("fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"),
		url("fonts/Roboto-Bold.woff2") format("woff2"),
		url("fonts/Roboto-Bold.woff") format("woff"),
		url("fonts/Roboto-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("fonts/Roboto-Light.eot");
	src: url("fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"),
		url("fonts/Roboto-Light.woff2") format("woff2"),
		url("fonts/Roboto-Light.woff") format("woff"),
		url("fonts/Roboto-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("fonts/Roboto-Medium.eot");
	src: url("fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"),
		url("fonts/Roboto-Medium.woff2") format("woff2"),
		url("fonts/Roboto-Medium.woff") format("woff"),
		url("fonts/Roboto-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

:root {
	--color: #fff;
	--background-1: #141414;
	--background-2: #333;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.body {
	margin: 0;
	color: var(--color);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: Roboto;
	font-weight: 700;
}

.main {
	overflow: auto;
	flex-grow: 1;
	background-color: red;
}

.footer {
	background: var(--background-1);
	padding: 10px;
	text-align: center;
	font-size: 20px;
	text-transform: lowercase;
}
