@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Bold.eot");
	src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Roboto-Bold.woff2") format("woff2"),
		url("../fonts/Roboto-Bold.woff") format("woff"),
		url("../fonts/Roboto-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Light.eot");
	src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Roboto-Light.woff2") format("woff2"),
		url("../fonts/Roboto-Light.woff") format("woff"),
		url("../fonts/Roboto-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Medium.eot");
	src: url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Roboto-Medium.woff2") format("woff2"),
		url("../fonts/Roboto-Medium.woff") format("woff"),
		url("../fonts/Roboto-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

:root {
	--color: #fff;
	--background-1: #141414;
	--background-2: #181818;
	--border-1: #fff;
	--orange: #f2994a;
	--crimson: #eb5757;
	--purple: #9b51e0;
	--blue: #1385ff;
	--green: #27ae60;
	--dark: #4f4f4f;
	--light: #eeeeee;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.body {
	margin: 0;
	color: var(--color);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
}

.main {
	overflow: auto;
	max-height: calc(100vh - 40px);
	flex-grow: 1;
	background-color: var(--background-2);
}

.content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
	gap: 20px;
	padding: 70px 100px;
}

.card {
	padding: 30px;
	border: 2px solid var(--border-1);
	border-radius: 8px;
}

.card:nth-child(5n + 3) {
	grid-column: span 2;
	padding: 50px 30px;
}

.card__title {
	font-size: 26px;
	margin-bottom: 20px;
}

.card__description {
	font-size: 16px;
	color: var(--light);
	font-weight: 300;
	margin-bottom: 20px;
}

.card-links {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 6px;
	margin-bottom: 20px;
}

.card-links__item {
	color: var(--blue);
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
}
.card-links__item img {
	margin-right: 6px;
}

.card-list {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}

.card-list__item {
	padding: 4px 20px;
	border-radius: 8px;
	font-size: 12px;
	font-weight: 500;
}
.card-list__item_theme_htmlcss {
	background-color: var(--orange);
}
.card-list__item_theme_react {
	background-color: var(--crimson);
}
.card-list__item_theme_redux {
	background-color: var(--purple);
}
.card-list__item_theme_typescript {
	background-color: var(--blue);
}
.card-list__item_theme_scss {
	background-color: var(--green);
}
.card-list__item_theme_mockapi {
	background-color: var(--dark);
}

.footer {
	background-color: var(--background-1);
	padding: 10px;
	text-align: center;
	font-size: 20px;
	text-transform: lowercase;
}
